@font-face {
  font-family: "Windlass";
  src: url("../fonts/Windlass.ttf") format("truetype");
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Windlass";
  font-size: 15px;
  line-height: 1.5em;
  color: var(--lightblue);
}
