@font-face {
  font-family: "Windlass";
  src: url("../fonts/Windlass.ttf") format("truetype");
}

$font-family: "Windlass";

$font-size: 15px;
$line-height: 1.5em;

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $lightblue;
}
